<div class="container fileUploadWrapper">
  <form>
    <div class="row">
      <div class="col-md-12">
        <div
          #fileDragDrop
          class="fileupload"
          appDragDropFileUpload
          (click)="fileField.click()"
          (fileDropped)="upload($event)"
        >

          <span *ngIf="!excelList.length" class="ddinfo">Elija un archivo o arrastre aquí</span>
          <span *ngIf="excelList.length" class="ddinfo"><p>{{ excelList[0].name }}</p></span>

          <input
            type="file"
            name="avatars"
            #fileField
            (change)="upload($any($event).target.files[0])"
            hidden
          />
        </div>
      </div>

      <div class="col-md-12">
        <div *ngIf="excelList.length" class="image-list">
          <button class="btn btn-danger" (click)="eliminarAdjunto()">Eliminar</button>
        </div>
      </div>
    </div>
  </form>
</div>
